{{- /* gotype: . */ -}}
func {{.FuncName}}(source *{{.SourcePkgName}}.{{.ActionName}}, target *{{.TargetPkgName}}.{{.TargetName}}, options ...Option) *{{.SourcePkgName}}.{{.ActionName}} {
	option := NewBindOptions(options...)
{{- range .Fields}}
	if option.CanSetField({{.FieldKeyPath}}) {
		{{- if .HasCustomConverter}}
			{{- if .TargetFieldIsPtr}}
				{{- if .CanSettNillable}}
					if target.{{.TargetField.Name}} != nil {
						source.{{.SetterFuncName}}({{.CustomConverter.Package}}.{{.CustomConverter.Name}}(*target.{{.TargetField.Name}}))
					} else {
						source.{{.SettNillableFuncName}}(nil)
					}
				{{- else}}
					if target.{{.TargetField.Name}} != nil {
						source.{{.SetterFuncName}}({{.CustomConverter.Package}}.{{.CustomConverter.Name}}(*target.{{.TargetField.Name}}))
					}
				{{- end}}
			{{- else}}
				{{- if .CanSettNillable}}
					if option.CanSetZero({{.FieldKeyPath}}) || {{GenNotZeroCheck "target" .TargetField}} {
						source.{{.SetterFuncName}}({{.CustomConverter.Package}}.{{.CustomConverter.Name}}(target.{{.TargetField.Name}}))
					}
				{{- else}}
					source.{{.SetterFuncName}}({{.CustomConverter.Package}}.{{.CustomConverter.Name}}(target.{{.TargetField.Name}}))
				{{- end}}
			{{- end}}
		{{- else if .TargetFieldIsPtr}}
			{{- if .CanSettNillable}}
				{{- if .CanClearOnNil}}
					if target.{{.TargetField.Name}} == nil && option.ClearOnNil({{.FieldKeyPath}}) {
						source.{{.ClearOnNilFuncName}}()
					} else {
						{{- if .TargetSourceIsSomeType}}
							source.{{.SettNillableFuncName}}(target.{{.TargetField.Name}})
						{{- else}}
							if target.{{.TargetField.Name}} != nil {
								source.{{.SetterFuncName}}({{GenTypeConversionExpr .TargetField .SourceField}})
							} else {
								source.{{.SettNillableFuncName}}(nil)
							}
						{{- end}}
					}
				{{- else}}
					{{- if .TargetSourceIsSomeType}}
						source.{{.SettNillableFuncName}}(target.{{.TargetField.Name}})
					{{- else}}
						if target.{{.TargetField.Name}} != nil {
							source.{{.SetterFuncName}}({{GenTypeConversionExpr .TargetField .SourceField}})
						} else {
							source.{{.SettNillableFuncName}}(nil)
						}
					{{- end}}
				{{- end}}
			{{- else}}
				if target.{{.TargetField.Name}} != nil {
					{{- if .TargetSourceIsSomeType}}
						source.{{.SetterFuncName}}(*target.{{.TargetField.Name}})
					{{- else}}
						source.{{.SetterFuncName}}({{GenTypeConversionExpr .TargetField .SourceField}})
					{{- end}}
				}
			{{- end}}
		{{- else}}
			if option.CanSetZero({{.FieldKeyPath}}) || {{GenNotZeroCheck "target" .TargetField}} {
				{{- if .TargetSourceIsSomeType}}
					source.{{.SetterFuncName}}(target.{{.TargetField.Name}})
				{{- else}}
					source.{{.SetterFuncName}}({{GenTypeConversionExpr .TargetField .SourceField}})
				{{- end}}
			}
		{{- end}}
	}
{{- end}}
	return source
}
